<div class="comment-container">
	<div class="panel panel-default panel-body">
		<div class="comment-heading">
			<%= link_to comment.user.username, user_path(current_user) %>&nbsp&nbsp
			<span class="timestamp"><%= comment.created_at %></span>
		</div>
		<div class="comment-textarea">
			<%= comment.body %>
		</div>
	</div>

	<% if policy(comment).destroy? %>
		<div>
			<%= link_to '', [comment.article, comment],
			class: 'glyphicon glyphicon-remove bio-edit-button remove-button',
			method: :delete,
			data: { confirm: 'Are you sure?' } %>
		</div>
	<% end %>
</div>