<div class="menu">
	<div class="menu-heading">Personal settings</div>
	<%= active_link_to "Account settings", account_settings_user_path(@user), class: "menu-item" %>
	<%= active_link_to "Profile", profile_user_path(@user), class: "menu-item" %>
	<%= active_link_to "Articles", articles_user_path(@user), class: "menu-item" %>
</div>
