<div class="menu">
	<div class="menu-heading">Personal settings</div>
	<%= link_to "Profile", profile_user_path(@user), class: "menu-item" %>
	<%= link_to "Account settings", edit_user_registration_path, class: "menu-item" %>
	<%= link_to "Articles", articles_user_path(@user), class: "menu-item" %>
</div>
