.field {
    margin-top: 17px;
    font-size: 15px;
}

.update-button {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    background-color: #CCC;
}

.cancel-button {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.profile-textarea {
    height: 400px;
    width: 96%;
}