.bio-container {
	display: inline-flex;
	position:relative;
	width: 96%;
}

.bio-text {
	font-size: 23px;
	margin-right: 30px;
	width: 96%;
	word-break: break-all;
}

.bio-container .bio-edit-button {
	display: none;
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 25px;
}

.bio-container:hover .bio-edit-button {
	display: inline-block;
}

.bio-textbox {
	width: 96%;
	margin: 0 2%;
	max-height: 500px;
	min-height: 150px;
}