.bio-container {
	display: inline-flex;
	position:relative;
}

.bio-text {
	font-size: 23px;
	margin-right: 30px;
}

.bio-container .bio-edit-button {
	display: none;
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 25px;
}

.bio-container:hover .bio-edit-button {
	display: inline-block;
}