// overwrite bootstrap
#comment_body {
	max-width: 90%;
	height: 100px;
}

.comment-heading {
    color: #444;
    font-weight: 700;
    font-size: 15px;
    height: 30px;
}

.comment-textarea {
    font-weight: 400;
    font-size: 15px;
}

.edit-container .remove-button {
	display: none;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 20px;
}

.edit-container:hover .remove-button {
	display: inline-block;
}

.panel .panel-default .panel-body {
    max-width: 100%;
}
