// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.UserList {
	.UserList-Row {
		height: 50px;
		// We used this to debug the margins
		// border: 1px solid red;
	}

	.UserList-FollowButton {
		width: 82px;
		margin-top: 8px;
	}

	.UserList-Username {
		margin-top: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.article-title {
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	line-height: 1.5;
	color: #444;

	&:hover {
		background-color: #db4c3f;
		color: white;
		text-decoration: none;
	}
}

.title {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	line-height: 1.5;
	color: #444;
}

.text {
	font-weight: 300;
	font-size: 20px;
	display: block;
}

.article {
	margin-left: 100px;
	margin-right: 100px;
}

.bio-container {
	display: inline-flex;
	position:relative;
}

.bio-text {
	font-size: 23px;
}

.bio-container .bio-edit-button {
	display: none;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 20px;
}

.bio-container:hover .bio-edit-button {
	display: inline-block;
}

.username {
	font-weight: bold;
	color: #cc0000;
	font-size: 50px;
}

.article-time {
	font-size: 15px;
	font-weight: 300;
}

a:hover {
	text-decoration: none;
}

#comment_body {
	width: 800px;
	height: 100px;
}
